

<div class="">

    <div ng-repeat="date in dates" class="course-item col-lg-12" id="{{date}}" lastrepeat>
        <div class="course-date">{{date}}</div>

        <div class=" course-item-data row"  ng-repeat="item in courseItems | filter: {fromDate:date}">
            <div class="course-time col-lg-1 col-sm-6"><span class="glyphicon glyphicon-dashboard"></span> {{splitstring(item.fromDate,' ',1)}} - {{splitstring(item.toDate,' ',1)}}</div>
            <div class="course-activity col-lg-10 col-sm-6"><span class="glyphicon glyphicon-book"></span> {{item.activity}}</div>
            <div class="course-educator col-lg-2 col-sm-6"><span class="glyphicon glyphicon-user"></span> {{item.educator}}</div>
            <div class="course-room col-lg-7 col-sm-6"><span class="glyphicon glyphicon-home"></span> {{item.room}}</div>
        </div>

    </div>



</div>
